@font-face {
    font-family: "kudry";
    src: url("../fonts/Kudry/kudry_weird-headline.otf") format("opentype");
}

@font-face {
    font-family: "playfair-light";
    src: url("../fonts/Playfair/static/Playfair_144pt-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

@font-face {
    font-family: "playfair-small";
    src: url("../fonts/Playfair/static/Playfair_144pt-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

@font-face {
    font-family: "playfair-button";
    src: url("../fonts/Playfair/static/Playfair_144pt-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

:root {
    /* Background */
    --primary-white-smoke: #F3F3F3;
    --secondary-timberwolf: #E3E0D9;
    --tertiary-isabelline: #F0EFEA;
    --quaternary-beige: #E2D8CF;
    --header-footer-night: #2C2C2C;

    /* Text */
    --primary-eerie-black: #2C2C2C;
    --secondary-white-smoke: #F3F3F3;
    --tertiary-battleship-gray: rgba(75, 75, 75, 0.64);
    --tertiary-battleship-gray_light: rgba(75, 75, 75, 0.1);
    --hover-silver-text: #AAAAAA;
    --hover-gold: #E0BD43;

    /* Button */
    --primary-night: #2C2C2C;
    --secondary-platinum: #E8E8E8;
    --hover-golden: #B2895B;
    --hover-silver-button: #A4A4A4;

    /* Icon */
    --default-platinum: #E8E8E8;
    --padding-sides: clamp(0.75rem, calc(-0.88rem + 8.15vw), 6.25rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: kudry;
    font-weight: lighter;
    line-height: 132%;
    letter-spacing: 3.2px;
}

h1 {
    font-size: clamp(2.25rem, calc(1.44rem + 4.07vw), 5rem);
    /*font-size: 80px;*/
}

h2 {
    font-size: clamp(2rem, calc(1.19rem + 4.07vw), 4.75rem);
    /*font-size: 76px;*/
}

h3 {
    font-size: clamp(1.75rem, calc(1.08rem + 3.33vw), 4rem);
    /*font-size: 64px;*/
}

h4 {
    font-size: 48px;
}

p {
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
}

.small {
    font-family: playfair-small;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.64px;
}

.medium {
    font-family: playfair-light;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%; /* 34.56px */
    letter-spacing: 0.96px;
}

/* Width containers */
.width_container_timberwolf {
    width: 100%;
    background-color: var(--secondary-timberwolf);
    display: flex;
    justify-content: center;
}

.width_container_isabelline {
    width: 100%;
    background-color: var(--tertiary-isabelline);
    display: flex;
    justify-content: center;
}

.width_container_beige {
    width: 100%;
    background-color: var(--quaternary-beige);
    display: flex;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    background-color: var(--header-footer-night);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
}

.header_container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav_link {
    font-family: playfair-light;
    color: var(--secondary-white-smoke);
    width: fit-content;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
    text-decoration: none;
    transition: 0.3s;

}

.nav_link.active {
    color: var(--hover-gold);
    border-bottom: 2px solid var(--hover-gold);

}

.nav_link.active.no-highlight {
    color: var(--secondary-white-smoke);
    border-bottom: 2px solid var(--hover-gold);

}

.nav_link:hover {
    color: var(--hover-gold);

}

.header_button {
    background-color: var(--secondary-platinum);
    font-family: playfair-light;
    color: var(--primary-eerie-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.header_button:hover {
    background-color: var(--hover-gold);
}

.avatar_svg_path {
    fill: var(--secondary-platinum);
    transition: 0.3s;
}

.avatar_svg:hover .avatar_svg_path {
    fill: var(--hover-gold);
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--secondary-white-smoke);
    margin-top: 12px;
    min-width: 160px;
    z-index: 100;
}

.dropdown-container.dropdown-open .dropdown-menu.dropdown-active {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px var(--tertiary-battleship-gray_light),
    1px 1px 10px var(--tertiary-battleship-gray_light);
    width: 200px;
}

.dropdown-menu a {
    padding: 24px 16px;
    color: var(--primary-eerie-black);
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    background-color: var(--hover-gold);
}

.dropdown-menu hr {
    margin: 0 12px;
    width: -webkit-fill-available;
    border: 0.5px solid var(--hover-gold);
}

/* Главная */
.home {
    background-color: var(--primary-white-smoke);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_grid {
    width: 100%;
    max-width: 1600px;
    padding: 30px 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.author_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.author_page {
    max-width: 320px;
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%; /* 28.8px */
    letter-spacing: 0.8px;
}

.second_paragraph {
    width: 100%;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.home_video {
    max-width: 1600px;
    margin: clamp(0.75rem, calc(-0.1rem + 4.26vw), 3.63rem) 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_video img {
    width: clamp(20rem, calc(-3rem + 92vw), 77.5rem);
}

.first_description_home_page, .second_description_home_page {
    padding: 0 var(--padding-sides);
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);
    font-style: normal;
    font-weight: 300;
    line-height: 144%; /* 28.8px */
    letter-spacing: 0.8px;
}

.first_description_home_page_container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.first_description_home_page {
    width: clamp(59.28rem, calc(0rem + 67.75vw), 135.5rem);
    max-width: 1000px;
}

.description_home_page_container {
    margin-top: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.second_description_home_page {
    width: clamp(42.34rem, calc(0rem + 48.39vw), 96.77rem);
    max-width: 1000px;
}

.whats_collaboration {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    padding: clamp(1.75rem, calc(-0.32rem + 10.37vw), 8.75rem) var(--padding-sides);
}

.whats_container {
    width: 100%;
    margin-top: clamp(1.25rem, calc(0.29rem + 4.81vw), 4.5rem);
    display: flex;
    gap: clamp(0.75rem, calc(0.23rem + 2.59vw), 2.5rem);
}

.whats_left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.whats_first_text, .whats_other_text, .whats_right_text {
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
}

.whats_first_text {
    margin-bottom: 40px;
}

.whats_other_text {
    margin-bottom: 20px;
}

.whats_left_img {
    margin-top: 40px;
}

.whats_right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.whats_first_right_img {
    width: 100%;
}

.whats_right_text {
    margin: 40px 0;
}

.whats_imgs_container {
    height: 100%;
    width: 100%;
    display: flex;
}

.whats_right_img:nth-child(1) {
    margin-right: 40px;
}

.whats_right_img {
    width: 174px;
    height: 240px;
}

.whats_amazing_img {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.whats_amazing_img img {
    width: 174px;
    height: 200px;
}

.art_fashion {
    padding: clamp(1.5rem, calc(1.13rem + 1.85vw), 2.75rem) var(--padding-sides);
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.art_fashion_container {
    width: 100%;
    margin: clamp(1.75rem, calc(0.94rem + 4.07vw), 4.5rem) 0 clamp(1.25rem, calc(0.51rem + 3.7vw), 3.75rem) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: clamp(0.75rem, calc(0.23rem + 2.59vw), 2.5rem);
}

.art_fashion_container.min-screen {
    display: none;
}

.art_fashion_container p:nth-child(5) {
    margin-top: 40px;
}

.art_fashion_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.houses_and_artists {
    width: 100%;
    max-width: 1600px;
    padding: clamp(2rem, calc(0rem + 10vw), 8.75rem) var(--padding-sides);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.houses_and_artists_title_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.houses_first_container {
    margin-top: clamp(1.5rem, calc(0.61rem + 4.44vw), 4.5rem);
    width: 100%;
    display: flex;
    gap: clamp(1.5rem, calc(1.2rem + 1.48vw), 2.5rem);
    justify-content: center;
    align-items: start;
}

.houses_first_text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.houses_imgs_container {
    margin-top: clamp(-3.25rem, calc(-8.31rem + 5.78vw), 3.25rem);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.houses_imgs_container img:nth-child(1) {
    width: 386px;
    height: 288px;
}

.house_second_container {
    margin: clamp(2rem, calc(0.37rem + 8.15vw), 7.5rem) 0;
    width: 100%;
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
    justify-content: space-between;
}

.house_second_img {
    height: 348px;
}

.house_second_text_container {
    display: flex;
    flex-direction: column;
    gap: clamp(0.75rem, calc(0.53rem + 1.11vw), 1.5rem);
}

.house_third_container {
    width: 100%;
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
    align-items: flex-start;
}

.house_third_text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.house_last_container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.house_last_container img {
    height: 380px;
}

.lux {
    width: 100%;
    max-width: 1600px;
    padding: clamp(1.25rem, calc(0.81rem + 2.22vw), 2.75rem) var(--padding-sides);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lux_title_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lux_title_container p {
    max-width: 280px;
}

.lux_history_container {
    margin-top: clamp(2rem, calc(1.26rem + 3.7vw), 4.5rem);
    width: 100%;
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
}

.lux_history_left_container {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, calc(0.83rem + 3.33vw), 3.75rem);
}

.lux_history_left_img_container {
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
}

.lux_three_container {
    margin-top: clamp(2.5rem, calc(1.02rem + 7.41vw), 7.5rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
}

.lux_three_container img {
    max-height: 240px;
}

.lux_last_container {
    margin-top: clamp(1.5rem, calc(0.83rem + 3.33vw), 3.75rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sec_lux {
    width: 100%;
    max-width: 1600px;
    padding: clamp(2.5rem, calc(0.65rem + 9.26vw), 8.75rem) var(--padding-sides);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec_lux_first_container {
    width: 100%;
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
}

.sec_lux_first_text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sec_lux_first_img {
    height: 400px;
}

.sec_lux_second_container {
    margin-top: clamp(0rem, calc(-1.7rem + 8.52vw), 5.75rem);
    width: 100%;
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
}

.sec_lux_second_img {
    height: 400px;
}


/* Swiper */
.swiper, .swiper_left {
    width: 600px;
    height: 100%;
    margin-bottom: 30px;
}

.post {
    width: 600px;
}

.post-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;
    user-select: none;
    pointer-events: none;
}

.swiper-scrollbar {
    --swiper-scrollbar-bottom: 0;
    --swiper-scrollbar-drag-bg-color: var(--hover-golden);
    --swiper-scrollbar-size: 4px;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
}

.swiper-scrollbar-drag {
    border-radius: 0 !important;
}

/* End Swiper */


.sec_lux_second_text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.fashion_and_pop {
    width: 100%;
    max-width: 1600px;
    padding: clamp(1.25rem, calc(0.81rem + 2.22vw), 2.75rem) var(--padding-sides) clamp(2rem, calc(0rem + 10vw), 8.75rem) var(--padding-sides);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fashion_and_pop_container {
    width: 100%;
    margin-top: clamp(1.5rem, calc(0.69rem + 4.07vw), 4.25rem);
    display: flex;
    gap: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem);
    justify-content: center;
    align-items: flex-end;
}

.fashion_and_pop_left_container {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, calc(0.51rem + 3.7vw), 3.75rem);
}

.fashion_and_pop_left_text_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.fashion_and_pop_img_container {
    display: flex;
    gap: 40px;
}

.fashion_and_pop_img_container img {
    height: 380px;
}

.fashion_and_pop_img_container img:nth-child(2) {
    margin-top: 60px;
}

.fashion_and_pop_right_container {
    display: flex;
    flex-direction: column;
}

.fashion_and_pop_right_text_container {
    margin: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem) 0 clamp(1.25rem, calc(0.73rem + 2.59vw), 3rem) 0;
}

.fashion_and_pop_img_min_size {
    display: none;
}

/* Footer */
footer {
    width: 100%;
    background-color: var(--header-footer-night);
    display: flex;
    justify-content: center;
}

.footer_container {
    width: 100%;
    max-width: 1600px;
    padding: clamp(1rem, calc(0.56rem + 2.22vw), 2.5rem) var(--padding-sides);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    column-gap: 40px;
}

.footer_info_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_text {
    color: var(--secondary-white-smoke);
}

.footer_icons {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
}

.footer_icons a {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

.footer_icons a:hover {
    transform: scale(1.2);
}

.footer_pages {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer_brands {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer_brands p {
    color: var(--secondary-white-smoke);
    cursor: pointer;
}


/* Buttons */
.link_for_button {
    text-decoration: none;
}

.hover_button_black_orange {
    background-color: var(--primary-night);
    border: none;
    cursor: pointer;
    display: flex;
    width: auto;
    padding: 22px 112px;
    justify-content: center;
    align-items: center;
    color: var(--secondary-white-smoke);
    font-family: playfair-button;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
    letter-spacing: 0.96px;
    transition: 0.3s;
}

.hover_button_black_orange:hover {
    background-color: var(--hover-golden);
}

.hover_button_white_black {
    background-color: transparent;
    border: 2px solid var(--primary-night);
    cursor: pointer;
    display: flex;
    width: auto;
    padding: 22px 112px;
    justify-content: center;
    align-items: center;
    color: var(--primary-eerie-black);
    font-family: playfair-button;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
    letter-spacing: 0.96px;
    transition: 0.3s;
}

.hover_button_white_black:hover {
    background-color: var(--primary-night);
    color: var(--secondary-white-smoke);
}

/* Up button */
.up {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 16px 12px;
    border-radius: 100px;
    background-color: transparent;
    z-index: 10;
    border: 3px solid var(--tertiary-battleship-gray);
}

.up svg path {
    fill: var(--tertiary-battleship-gray);
}

/* 404 Error */
.error_404_container {
    padding: 100px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_404 {
    text-align: center;
    color: var(--primary-eerie-black);
    font-family: kudry;
    font-size: 180px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 12px;
}

.error_404_text {
    font-family: playfair-light;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
    letter-spacing: 0.96px;
}

/* Keyframes */
@keyframes bookmark {
    0% {
        stroke-dasharray: 0 200;
        stroke-dashoffset: 80;
    }
    100% {
        stroke-dasharray: 200 0;
    }
}