@font-face {
    font-family: "kudry";
    src: url("../fonts/Kudry/kudry_weird-headline.otf") format("opentype");
}

@font-face {
    font-family: "playfair-light";
    src: url("../fonts/Playfair/static/Playfair_144pt-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

@font-face {
    font-family: "playfair-small";
    src: url("../fonts/Playfair/static/Playfair_144pt-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

@font-face {
    font-family: "playfair-button";
    src: url("../fonts/Playfair/static/Playfair_144pt-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

:root {
    /* Background */
    --primary-white-smoke: #F3F3F3;
    --secondary-timberwolf: #E3E0D9;
    --tertiary-isabelline: #F0EFEA;
    --quaternary-beige: #E2D8CF;
    --header-footer-night: #2C2C2C;

    /* Text */
    --primary-eerie-black: #2C2C2C;
    --secondary-white-smoke: #F3F3F3;
    --tertiary-battleship-gray: #4B4B4B 64%;
    --hover-silver-text: #AAAAAA;

    /* Button */
    --primary-night: #2C2C2C;
    --secondary-platinum: #E8E8E8;
    --hover-golden: #B2895B;
    --hover-silver-button: #A4A4A4;

    /* Icon */
    --default-platinum: #E8E8E8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: kudry;
    font-weight: lighter;
    line-height: 132%;
    letter-spacing: 3.2px;
}

h1 {
    font-size: clamp(5rem, calc(2.08rem + 3.33vw), 8.75rem);
}

h2 {
    font-size: clamp(4.75rem, calc(2.03rem + 3.11vw), 8.25rem);
}

h3 {
    font-size: clamp(4rem, calc(1.86rem + 2.44vw), 6.75rem);
}

/* Header */
header {
    width: 100%;
    background-color: var(--header-footer-night);
    padding: 30px 100px;
}

.header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav_link {
    font-family: playfair-light;
    color: var(--secondary-white-smoke);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
    text-decoration: none;
}

.header_button {
    font-family: playfair-light;
    color: var(--primary-eerie-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
    padding: 8px 12px;
    cursor: pointer;
}

/* Главная */
.home {
    background-color: var(--primary-white-smoke);
    width: 100%;
    padding: 30px 100px;
}

.title_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.author_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.author_page {
    max-width: 320px;
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%; /* 28.8px */
    letter-spacing: 0.8px;
}

.second_paragraph {
    width: 100%;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.home_video {
    margin: 58px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_video img {
    width: clamp(75rem, calc(-12.5rem + 100vw), 187.5rem);
    height: clamp(36.31rem, calc(-6.03rem + 48.39vw), 90.75rem);
}

.first_description_home_page, .second_description_home_page {
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%; /* 28.8px */
    letter-spacing: 0.8px;
}

.first_description_home_page {
    width: clamp(59.28rem, calc(0rem + 67.75vw), 135.5rem);
}

.description_home_page_container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.second_description_home_page {
    width: clamp(42.34rem, calc(0rem + 48.39vw), 96.77rem);
}