.lux_market {
    background-color: var(--primary-white-smoke);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lux_market_container {
    width: 100%;
    max-width: 1600px;
    padding: var(--padding-140-40) var(--padding-sides);
}

.lux_market_header_container,
.lux_market_seventh_container,
.lux_market_tenth_container,
.lux_market_thirteenth_container,
.lux_market_fifteenth_container,
.lux_market_last_container {
    width: 100%;
    display: flex;
    gap: var(--padding-40-16);
    align-items: flex-start;
}


.lux_market_header_container {
    margin-top: var(--padding-72-32);
}

.lux_market_header_left_container,
.lux_market_seventh_left_container,
.lux_market_tenth_right_container,
.lux_market_thirteenth_left_container,
.lux_market_last_right_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding-60-24);
}

.lux_market_seventh_container,
.lux_market_thirteenth_container {
    margin: var(--padding-140-40) 0;
}

.lux_market_tenth_img_container,
.lux_market_last_img_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.lux_market_last_container {
    margin-top: var(--padding-140-40);
}