.registration {
    background-color: var(--primary-white-smoke);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_container {
    width: 100%;
    max-width: 2400px;
    padding: 0;
    display: flex;
}

.back_to_home_link {
    position: absolute;
    text-decoration: none;
    margin: 16px 0 0 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--secondary-white-smoke);
    font-family: playfair-light;
    font-size: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: 0.3s;
}

.back_to_home_link svg path {
    transition: 0.3s;
}

.back_to_home_link:hover {
    color: var(--primary-eerie-black);
}

.back_to_home_link:hover svg path {
    fill: var(--primary-eerie-black);
}

.registration_main_img {
    object-fit: cover;
    aspect-ratio: 2/3;
    max-width: 1000px;
    max-height: 2400px;
}

.registration_main_container {
    width: 100%;
    height: 100%;
    padding: var(--padding-sides) var(--padding-sides) var(--padding-80-36) var(--padding-40-16);
    display: flex;
    flex-direction: column;
}

.registration_policy {
    margin-top: 24px;
    font-family: playfair-small;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.64px;
}

.registration_fields {
    margin: 60px 0 40px 0;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_fields_inp, .registration_fields_btn, .registration_social_container {
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_input, .registration_button {
    padding: 14px 0 14px 28px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    border: 1px solid var(--primary-night);
    color: var(--tertiary-battleship-gray);
    font-family: playfair-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
}

.registration_input:focus {
    border: 1px solid var(--hover-golden);
    outline: none;
}

.hover_button_black_orange {
    border: 1px solid var(--primary-night);
    font-family: playfair-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    width: 100%;
    max-width: 600px;
}

.hover_button_black_orange:hover {
    border: 1px solid var(--hover-golden);
}

.registration_link_to_auth {
    text-decoration: none;
    color: var(--primary-eerie-black);
    text-align: center;
    font-family: playfair-light;
    font-size: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
    transition: 0.3s;
}

.registration_link_to_auth:hover {
    color: var(--hover-golden);
    scale: 1.03;
}

.registration_separation_container {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.registration_separation_container p {
    min-width: 210px;
    text-align: center;
}

.registration_separation_container hr {
    width: -webkit-fill-available;
    border: 0.5px solid var(--primary-night);
}

.registration_social_container {
    margin-top: 40px;
}

.registration_button {
    cursor: pointer;
    display: flex;
    gap: clamp(0.75rem, calc(-1.25rem + 10vw), 7.5rem);
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.registration_button span {
    color: var(--primary-eerie-black);
    font-family: playfair-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.8px;
}

.registration_button:hover {
    background-color: var(--primary-eerie-black);
}

.registration_button:hover span {
    color: var(--secondary-white-smoke);
}

.registration_button:hover .registration_button_x_img {
    filter: invert(1);
}

/* Ошибки заполнения */
.auth_error_message_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_error_message {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth_error {
    color: red;
}