.users_saved {
    background-color: var(--primary-white-smoke);
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users_saved_container {
    width: 100%;
    max-width: 1600px;
    padding: var(--padding-140-40) var(--padding-sides);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--padding-24-12);
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: center;
}

h3 {
    width: 100%;
    grid-column: span 3;
    margin-bottom: var(--padding-48-20);
}

.user_saved_container {
    text-decoration: none;
    /*max-width: 30%;*/
    width: min-content;
    height: 500px;
    background-color: var(--tertiary-isabelline);
    padding: var(--padding-40-16) var(--padding-20-10) var(--padding-32-14) var(--padding-20-10);
    display: flex;
    flex-direction: column;
}

.save-icon {
    cursor: pointer;
    position: absolute;
    margin-left: 286px;
    margin-top: var(--padding-28-12);
}

.save-icon path {
    stroke: var(--primary-eerie-black);
    fill: #dddddd00;
    transition-delay: 0s;
    transition-duration: 0.5s;
}

.save-icon.saved path {
    fill: var(--primary-eerie-black);
    animation: bookmark 0.5s linear;
    transition-delay: 0.5s;
}

.user_saved_img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin-bottom: var(--padding-28-12);
}

.user_saved_text_container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}

.user_saved_text {
    margin-top: var(--padding-8-2);
    color: var(--tertiary-battleship-gray);
}

.user_saved_zero_message {
    grid-column: span 3;
}

.user_saved_zero_message a {
    font-family: Playfair;
    text-decoration: none;
    color: var(--primary-eerie-black);
    font-weight: 900;
}